[submodule "lib/gamera"]
	path = lib/gamera
	url = https://github.com/kikito/gamera.git
[submodule "lib/vudu"]
	path = lib/vudu
	url = https://github.com/deltadaedalus/vudu.git
[submodule "lib/json.lua"]
	path = lib/json
	url = https://github.com/rxi/json.lua.git
